%h1 Find Remote Pairs

%table
  %tr
    %th
    %th
    %th
    %th

  - @listings.each do |listing|
    %tr
      %td= listing.body
      %td= link_to 'Show', listing
      %td= link_to 'Edit', edit_listing_path(listing)
      %td= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete

%br

- if current_user || true
  = link_to 'Add Listing', new_listing_path
